# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
Pillow
qrcode
piexif
python-gnupg
pyodbc
flask
azure-identity
azure-appconfiguration
gnupg
