# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
Pillow
qrcode
piexif
python-gnupg
pyodbc
flask
azure-identity
azure-appconfiguration
gnupg
Flask-SQLAlchemy
gunicorn
Jinja2
MarkupSafe
python-dateutil
SQLAlchemy
webargs
Werkzeug
bcrypt
azf-wsgi
flask-restx
