# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
Pillow
qrcode
piexif
pyodbc
flask
azure-identity
azure-appconfiguration
azure-mgmt-resource
Flask-SQLAlchemy
gunicorn
Jinja2
MarkupSafe
python-dateutil
SQLAlchemy
webargs
Werkzeug
bcrypt
azf-wsgi
flask-restx
azure-keyvault-secrets
opencensus
opencensus-ext-azure
opencensus-ext-logging
azure-mgmt-sql
cryptography
PGPy
gnupg
